
body { 
  display: grid;
  grid-template-areas: 
    "banner banner"
    "pic inner";
  grid-template-rows:  1fr 1fr;  
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  height: 100vh;
  margin: 0;
  font-style: italic;
  font-size: larger;
  background-image: url('/Images/bg.jpg');
  } 
.picture-section{
  grid-area: pic;
  background-color: rgba(255, 255, 255, 0.63);
  width: 100%;
  margin-left: 15%;
}
.pic-container{
  background-color: rgba(4, 65, 119, 0.63);
  width: fit-content;
  justify-content: end;
  height: fit-content;
margin-top: 30%;

}
.Inner-Side{
  margin-left: 30%;
  grid-area: inner;
  width: 200px;
 padding-left: 3%;
  background-color: rgba(255, 255, 255, 0.63);
  
  height: fit-content;
}
.image_banner{
  background-image: url('/Images/3.jpg');
  background-size: cover;
height: 600px;
grid-area: banner;

  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 
    
@media all and (max-width: 575px) {
  .picture-section{
    grid-area: pic;
  width: 80%;
  margin-left: 10%;

  }
}
  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "banner"
        "pic"
        "inner"
       ;
      grid-template-rows: 1fr 1fr 1fr;  
      grid-template-columns: 1fr;
   }
  }

