
@import url('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">');
      

@font-face {
    font-family: ubuntu;
    src: url('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">');
}

*
{
    font-family: ubuntu;
}