


body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
     "nav article1 ads"
      "nav footer footer";
    grid-template-rows: 80px 1fr 1fr 60px;  
    grid-template-columns: 10% 1fr  15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    font-style: italic;
    font-size: larger;
  
    }  
    nav, div {
        padding: 1.2em;
        background: rgb(218, 154, 102);
      text-align: center;
        }
    header{
        padding: 1.2em;
        background: rgb(0, 255, 115);
        }
        article{
            padding: 1.2em;
            background: rgb(0, 102, 255);
            }
  footer {
    padding: 1.2em;
    background: gold;
    }
  #pageHeader {
    grid-area: header;
    }
  #pageFooter {
    grid-area: footer;
    }
  #mainArticle { 
    grid-area: article;      
    }
    #mainArticle1 { 
        grid-area: article1;      
        }
  #mainNav { 
    grid-area: nav; 
    }
  #siteAds { 
    grid-area: ads; 
    } 
  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "header"
        "article"
        "article1"
        "ads"
        "nav"
        "footer";
      grid-template-rows: 80px 1fr 70px 1fr 70px;  
      grid-template-columns: 1fr;
   }
  }

/* body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   
    margin: auto;
}


ul{
    list-style-type: none;
}

.container{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
     grid-template-rows: auto;
     column-gap: 1px;
}

@media screen and (max-width:800px) {
    .container
    {
        display: grid;
         grid-template-columns: 1fr 1fr;
    }  
}

@media screen and (max-width:400px) {
    .container
    {
        display: grid;
         grid-template-columns: 1fr;
    }  
} */

